.app{
    height:100vh;
    display:flex;
    background-color:#020230;
    color:white;
}
.main{
    width:75%;
    background: linear-gradient(to bottom, rgba(0, 0, 0 ,0), #020230), url("./bg.jpeg") center;
}
.pyramid{
    width: 25%;
    display:flex;
    align-items:center;
    justify-content:center;
}
.moneyList{
    list-style: none;
    width:100%;
    padding:20px;
}
.moneyListItem{
    display: flex;
    align-items: center;
}
.moneyListItem.active{
    background-color: teal;
}

.moneyListItemNumber{
    font-size: 18px;
    font-weight: 100;
    width:30%;
}
.moneyListItemAmount{
    font-size: 20px;
    font-weight: 300;
}
